.infinite-scroll-wrapper {
  margin: 0 auto;
  max-width: var(--breakpoint-lg);
}

.infinite-scroll {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--size-ratio) * 40), 1fr)
  );
  gap: var(--size-60);
  padding: var(--size-30);
}

.infinite-scroll a {
  display: flex;
  flex: 1;
}

.infinite-scroll-no-more-results {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.infinite-scroll-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--depth-overlay);
}

.infinite-scroll-loader::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background);
  z-index: -1;
  opacity: 0.5;
}
