/* TODO: Revisar agregar profundidad, curca cromatica y herencia mediante HCL*/
:root {
  --background: #1b2229;
  --background-contrast-text: #a7b6bd;

  --surface: #262d35;
  --surface-contrast-text: #ccdae0;

  --accent: #323a42;
  --accent-contrast-text: #ffffff;

  --primary-light: #fcffa4;
  --primary-main: #ebf135;
  --primary-dark: #c8ce15;
  --primary-contrast-text: #1b2229;

  --secondary-light: #273070;
  --secondary-main: #121a52;
  --secondary-dark: #070b30;
  --secondary-contrast-text: #ffffff;

  --status-error-light: #ffeaed;
  --status-error-main: #cd1812;
  --status-error-dark: #870f00;
  --status-error-contrast-text: #ffffff;

  --status-info-light: #83dcff;
  --status-info-main: #26c3ff;
  --status-info-dark: #1497ca;
  --status-info-contrast-text: #202327;

  --status-warning-light: #fdf8c8;
  --status-warning-main: #ffba33;
  --status-warning-dark: #7c6600;
  --status-warning-contrast-text: #000000;

  --status-success-light: #cdeccd;
  --status-success-main: #1c8747;
  --status-success-dark: #004a1e;
  --status-success-contrast-text: #202327;
}
