.infinite-scroll-item {
  flex: 1;
  overflow: hidden;
  position: relative;
  padding: var(--size-45);
  color: var(--surface-contrast-text);
  background: var(--background);
  background: linear-gradient(30deg, var(--background) 0%, var(--surface) 100%);
  border-radius: var(--size-border-radius-medium);
  box-shadow: var(--shadow-1);
  transition: all 0.15s ease-in-out;
}

.infinite-scroll-item:hover {
  transform: scale(1.05);
  color: var(--accent-contrast-text);
  box-shadow: var(--shadow-2);
}

.infinite-scroll-item::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  border-radius: var(--size-border-radius-medium);
  background: var(--background);
  background: linear-gradient(
    -2deg,
    var(--primary-dark) 0%,
    var(--surface) 3%,
    var(--accent) 100%
  );
  transition: opacity 0.2s linear;
}

.infinite-scroll-item:hover::before {
  opacity: 1;
}

.infinite-scroll-item-content {
  position: relative;
  z-index: 2;
}

.infinite-scroll-item-id {
  color: var(--background-contrast-text);
}

.infinite-scroll-item-title {
  color: var(--primary-main);
  margin-bottom: var(--size-30);
}
